.cart-item {
  display: grid;
  grid-template-columns: 1fr 3fr;
  border-bottom: solid 2px darkgray;
  margin-bottom: 20px;

  .counter {
    grid-column: 1/2;
    background-color: #737373;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 5px;
    color: white;
    font-weight: bold;
    text-align: center;
    position: absolute;
    margin: 10px;
  }
  .product-image {
    grid-column: 2/2;
    text-align: end;

    img {
      width: 50px;
    }
  }
}
.total {
    text-align: end;
    color: gray;

    &_value {
        color: rgb(32, 153, 253);
        font-weight: 700;
    }
}
